/zsh/zshrc.local*
.project_root
.current_dir
/zsh/installs/*
!/zsh/installs/.gitkeep
.dirs
bin/setlocalgit
/installs/*
!/installs/.gitkeep
*node_modules
private-dotfiles
nerd-fonts
/neovim/install/*
/neovim/lua/env.lua
*.tool-versions
