/zsh/zshrc.local*
.project_root
.dirs_cache
/zsh/installs/*
!/zsh/installs/.gitkeep
.dirs_recent
bin/setlocalgit
/installs/*
!/installs/.gitkeep
*node_modules
private-dotfiles
nerd-fonts
/neovim/install/*
/neovim/lua/env.lua
/herdr/*.log
/herdr/*.sock
/herdr/session.json
/herdr/release-notes.json
*.tool-versions
.DS_Store
