/vim/dein
/vim/neo-dein
/vim/vim-*
/vim/v8*
/vim/usr
/zsh/zshrc.local*
.project_root
.current_dir
/zsh/fzf*
/zsh/zsh-autosuggestions*
.dirs
/dein
bin/setlocalgit
/vim/.test-dein/
/vim/dein_test.toml
*node_modules
private-dotfiles
