local opt = vim.g
opt.enable_plugin_copilot = false
opt.enable_plugin_lsp_clang = false
opt.enable_plugin_lsp_cmake = false
opt.enable_plugin_lsp_docker = false
opt.enable_plugin_lsp_go = false
opt.enable_plugin_lsp_elixir = false
opt.enable_plugin_lsp_java = false
opt.enable_plugin_lsp_json = false
opt.enable_plugin_lsp_python_semshi = false
opt.enable_plugin_lsp_python = false
opt.enable_plugin_lsp_ruby = false
opt.enable_plugin_lsp_rust = false
opt.enable_plugin_lsp_tailwind = false
opt.enable_plugin_lsp_terraform = false
opt.enable_plugin_lsp_tex = false
opt.enable_plugin_lsp_typescript = false
opt.enable_plugin_lsp_yaml = false
opt.coc_global_extensions = {
    "coc-json", -- for coc-settings.json
    "coc-spell-checker",
    -- "coc-tsserver",
    "coc-yaml",
    "coc-sh",
    --"coc-rust-analyzer",
    -- "@yaegassy/coc-volar",
    -- "coc-go",
    --"coc-eslint",
    -- "coc-jedi",
    -- "coc-pyright",
    -- "coc-phpls",
    -- 'coc-snippets', -- need python
    -- "coc-tabnine",
    -- '@yaegassy/coc-tailwindcss3',
    -- 'coc-webview',
    -- 'coc-markdown-preview-enhanced',
}
